# vim: et:sts=2
version: "3.2"
services:

  vpn:
    build:
      context: ./piavpn
    image: sedlund/piavpn
    restart: on-failure
    volumes:
      - /etc/localtime:/etc/localtime:ro
    # Expose ports from other containers that connect to this network
    ports:
      - 8080:8080
    cap_add:
      - NET_ADMIN
    dns:
      - 209.222.18.222
      - 209.222.18.218
    env_file: docker-compose-vpn.env

  qb:
    build:
      context: ./qbittorrent
    image: sedlund/qbittorrent
    restart: on-failure
    volumes:
      - /etc/localtime:/etc/localtime:ro
      # Change the path to mount to your storage
      - /mnt/to/your_storage:/data
      - qb-web:/qb/qb-web
    depends_on:
      - vpn
      - qb-web
    # qBittorrent uses port 8080, but is using the vpn container network, so the port must be exposed there
    network_mode: "service:vpn"
    env_file: docker-compose-qb.env

  # Optional WebUI that has functionality to setup the RSS feature
  # This container will exit 0, but allow the qb service to mount its volume
  qb-web:
    build:
      context: ./qbittorrent/qb-web
      args:
        - RELEASE=https://github.com/CzBiX/qb-web/releases/download/nightly-d8f0d2/qb-web-20200419-224447.zip
    image: sedlund/qb-web
    volumes:
      - qb-web:/webui

volumes:
  data:
  qb-web:
